<p id="notice"><%= notice %></p>

<p>
  <strong>Usage:</strong>
  <%= @expiration_usage.usage %>
</p>

<%= link_to 'Edit', edit_expiration_usage_path(@expiration_usage) %> |
<%= link_to 'Back', expiration_usages_path %>
