<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @expiration_date.date %>
</p>

<%= link_to 'Edit', edit_expiration_date_path(@expiration_date) %> |
<%= link_to 'Back', expiration_dates_path %>
